.nftdetailprice {
    padding: var(--f-spacer-3);
    margin-top: var(--f-spacer-3);
    border-radius: var(--f-border-radius-3);
    border: 1px solid var(--f-color-grey-3);

    &_label {
        font-size: var(--f-font-size-5);
        font-weight: 700;
        color: var(--f-color-grey-5);
    }

    &_price {
        display: flex;
        align-items: center;
        column-gap: var(--f-spacer-2);
    }

    .atokenvalue {
        font-weight: 700;
        font-size: var(--f-font-size-7);

        &_price {
            font-weight: 400;
            font-size: var(--f-font-size-3);
            color: var(--nftdetail-text-color);
        }
    }
}
