@use "fantom-vue-components/src/assets/scss/tools/media";
@use "@/assets/scss/variables";

.appheader {
    --appheader-background: #fff;
    --appheader-border-bottom: 1px solid var(--f-color-grey-2);

    position: sticky;
    top: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--f-spacer-2);

    padding: var(--f-spacer-3) var(--f-spacer-3);
    border-bottom: var(--appheader-border-bottom);
    background: var(--appheader-background);

    //flex ali-center gap-2 juc-space-between

    &_col {
        display: flex;
        align-items: center;
        gap: var(--f-spacer-5);

        &:first-child {
            width: 100%;
        }
    }

    img {
        display: block;
        margin: 0;
    }

    /*&-home {
        .appsearchbar {
            display: none;
        }
    }*/
}

@include media.media-min(900px) {
    .appheader {
        flex-direction: row;
        gap: var(--f-spacer-9);
    }
}
