@use "fantom-vue-components/src/assets/scss/tools/media";

.pg-faq {
    padding: 50px var(--f-spacer-4) 0;

    &__list-item {
        margin-bottom: 28px;
        transition: margin 0.2s ease-out, padding 0.2s ease-out;

        &--open {
            padding-bottom: 35px;
            margin-bottom: 35px;
            border-bottom: 1px solid #202A37;
        }

        &--open .pg-faq__question {
            margin-bottom: var(--f-spacer-3);
        }
    }

    &__text {
        padding: 5px var(--f-spacer-7) 0 0;
        font-size: var(--f-font-size-4);
    }

    &__question {
        margin-bottom: 0;
        cursor: pointer;
        transition: margin 0.2s ease-out;
    }

    &__answer {
        overflow: hidden;
        color: #69778A;
        line-height: 1.8;
        transition: max-height 0.2s ease-out;
    }

    &__button {
        & .fbutton {
            background: #121820;
        }
    }
}

@include media.media-min(1024px) {
    .pg-faq {
        &__text {
            padding: 5px var(--f-spacer-9) 0 0;
        }
    }
}
