@mixin filter-item($className) {
    .#{$className} {
        --flistbox-item-background-color: none;

        max-height: 260px;
        overflow: auto;

        &_item {
            display: flex;
            align-items: center;
            gap: var(--f-spacer-4);
        }

        .flistbox_list_item {
            padding: var(--filter-item-padding);

            &:not([aria-selected]) {
                background: none;
            }
        }
    }

}
