@use "fantom-vue-components/src/assets/scss/settings/components" as componentsSettings;

:root {
    --f-inputs-hover-border: var(--f-inputs-border) var(--f-inputs-border-color);

    --f-inputs-border-color: var(--f-color-grey-3) !important;
    --f-inputs-focus-box-shadow: 0 0 8px 0 !important;

    .#{componentsSettings.$input} {
        --f-input-lg-border-radius: var(--f-border-radius-2);
        --f-input-border-radius: var(--f-border-radius-2);
        --f-input-sm-border-radius: var(--f-border-radius-2);
        --f-input-xs-border-radius:var(--f-border-radius-2);
        --f-input-readonly-background: #fff;

        --f-input-hover-border: var(--f-inputs-hover-border);
        //--f-input-focus-box-shadow: var(--f-inputs-focus-box-shadow) hsla(var(--f-color-primary-h, 219), var(--f-color-primary-s, 100%), var(--f-color-primary-l, 55%), 0.45);
    }

    // checkbox, radio
    .#{componentsSettings.$checkboxradio} {
        --f-cr-hover-border: var(--f-inputs-hover-border);
    }
}
