:root {
    --scrollbar-width: 6px;

    .touch-device {
        --scrollbar-width: 2px;
    }
}

/* width */
::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scrollbar-background-color);
    border-radius: var(--scrollbar-width);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: var(--scrollbar-width);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}
