.tradehistoryswitcher {
	--tradehistoryswitcher-btn-background: transparent;
	--tradehistoryswitcher-color: var(--f-grey-color-5);
	--tradehistoryswitcher-border-color: #eaeaf1;
	--tradehistoryswitcher-border-hover-color: #eaeaf1;
	.fbutton.btn {
		border: 1px solid var(--tradehistoryswitcher-border-color);
   	border-radius: var(--f-border-radius-2);
		color: var(--tradehistoryswitcher-color);
		padding: var(--f-spacer-2);
		background: var(--tradehistoryswitcher-btn-background);
		&:hover {
			background: var(--tradehistoryswitcher-btn-background) !important;
			color: var(--tradehistoryswitcher-color) !important;
			border-color: var(--tradehistoryswitcher-border-hover-color) !important;
		}
	}

	&_window {
		box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
		border-radius: var(--f-border-radius-1);
		background: none;
		&.fpopover .fwindow_body {
			padding: 0 !important;
			.flistbox_list_item[aria-selected=true] {
				background: var(--f-doc-background-color);
			}
		}

		.fwindow_header_title {
			color: var(--f-doc-color)
		}
	}

	&_flistbox {
	}

	&_listitem {
		display: flex;
		align-items: center;
		color: var(--flistbox-item-color);
		font-size: 1em;
		gap: var(--f-spacer-4);
		color: var(--f-doc-color);
		padding: 0;
		.fsvgicon-icon {
			display: flex;
			align-items: center;
		}
		svg {
			max-width: var(--f-spacer-4);
			height: auto;
		}
	}
}
