@use "fantom-vue-components/src/assets/scss/tools/media";

:root.theme-pg .pg-account-settings {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;

    &__header {
        text-align: center;
        margin-top: 50px;
    }

    &__form .inp {
        --f-input-readonly-background: #141926;

        & input:-webkit-autofill,
        & input:-webkit-autofill:hover,
        & input:-webkit-autofill:focus,
        & input:-webkit-autofill:active {
            -webkit-text-fill-color: var(--theme-pg-color);
            -webkit-box-shadow: 0 0 0px 1000px var(--theme-pg-background-color) inset;
            transition: background-color 5000s ease-in-out 0s;
        }
    }

    & .h5 {
        margin-bottom: var(--f-spacer-2);
        line-height: 1;
        margin-top: var(--f-spacer-6);
    }
}

@include media.media-min(1024px) {
    :root.theme-pg .pg-account-settings {
        &__header {
            margin-top: 110px;
        }
    }
}
