@font-face {
    src: url("~@/assets/fonts/VioletSans-Regular.woff2") format("woff2"),
    url("~@/assets/fonts/VioletSans-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-family: "Violet sans";
    font-display: swap;
}
