/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * proxima-nova:
 *   - http://typekit.com/eulas/000000000000000077359549
 *   - http://typekit.com/eulas/000000000000000077359562
 *   - http://typekit.com/eulas/00000000000000007735955e
 *   - http://typekit.com/eulas/000000000000000077359571
 *   - http://typekit.com/eulas/000000000000000077359577
 *   - http://typekit.com/eulas/000000000000000077359583
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-06-08 14:03:31 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=evf2xmx&ht=tk&f=137.139.169.173.175.25136&a=9527591&app=typekit&e=css");

@font-face {
    font-family:"proxima-nova";
    src:url("https://use.typekit.net/af/ad9c1c/000000000000000077359549/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/ad9c1c/000000000000000077359549/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/ad9c1c/000000000000000077359549/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n9&v=3") format("opentype");
    font-display:swap;font-style:normal;font-weight:900;
}

@font-face {
    font-family:"proxima-nova";
    src:url("https://use.typekit.net/af/98e3f6/000000000000000077359562/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/98e3f6/000000000000000077359562/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/98e3f6/000000000000000077359562/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("opentype");
    font-display:swap;font-style:normal;font-weight:700;
}

@font-face {
    font-family:"proxima-nova";
    src:url("https://use.typekit.net/af/199a3f/00000000000000007735955e/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/199a3f/00000000000000007735955e/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/199a3f/00000000000000007735955e/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n8&v=3") format("opentype");
    font-display:swap;font-style:normal;font-weight:800;
}

@font-face {
    font-family:"proxima-nova";
    src:url("https://use.typekit.net/af/e4b1a9/000000000000000077359571/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/e4b1a9/000000000000000077359571/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/e4b1a9/000000000000000077359571/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n6&v=3") format("opentype");
    font-display:swap;font-style:normal;font-weight:600;
}

@font-face {
    font-family:"proxima-nova";
    src:url("https://use.typekit.net/af/d45b9a/000000000000000077359577/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/d45b9a/000000000000000077359577/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/d45b9a/000000000000000077359577/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("opentype");
    font-display:swap;font-style:normal;font-weight:400;
}

@font-face {
    font-family:"proxima-nova";
    src:url("https://use.typekit.net/af/0758f3/000000000000000077359583/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/0758f3/000000000000000077359583/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/0758f3/000000000000000077359583/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3") format("opentype");
    font-display:swap;font-style:normal;font-weight:500;
}

.tk-proxima-nova { font-family: "proxima-nova",sans-serif; }
