.appcategorycard {
	--f-label-background: var(--f-color-grey-2);
	padding: var(--f-spacer-6) var(--f-spacer-4);
	border-radius: var(--f-border-radius-7);
	box-shadow: var(--card-shadow);
	background: var(--f-doc-background-color);

	&:hover {
		cursor: pointer;
	}

    a:not(.btn) {
        color: var(--f-doc-color);
    }

	&_img {
		display: flex;
		justify-content: center;
		align-items: center;

        &_wrap {
            box-shadow: var(--card-shadow);
            border-radius: 50%;
            padding: var(--f-spacer-6);
        }
	}

	&_label {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #f6f7f9; // TODO change
		//background: var(--f-color-grey-2);
		background: var(--f-label-background);
		padding: var(--f-spacer-3) 0;
		padding-inline-start: var(--f-spacer-6);
		padding-inline-end: var(--f-spacer-2);
		border-radius: var(--f-border-radius-8);
		height: var( --f-spacer-8);
		margin-top: var(--f-spacer-8);
		&-all {
			background: var(--f-doc-footer-color);
			h3 {
				color: #fff;
			}
		}
	}
}
