/*
.nftmakeofferform {
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: var(--f-spacer-4);

	.fforminput,
	.finput,
	.finput_inputcont,
	.apricefield {
		width: 100%;
		height: 100%;
	}
}
*/
