.apptextsearchresults {
    --apptextsearchresults-item-color: var(--f-color-grey-8);
    --apptextsearchresults-item-hover-background-color: var(--f-color-primary-2);
    --apptextsearchresults-title-border-color: var(--f-color-grey-3);
}
