.asharebutton {
	--asharebutton-border-color: #eaeaf1;
	button {
		border: 1px solid var(--asharebutton-border-color);
   	border-radius: var(--f-border-radius-2);
		color: var(--f-doc-background-color);
		padding: var(--f-spacer-2);
	}

	&_window {
		box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
		border-radius: var(--f-border-radius-1);
		background: none;
		&.fpopover .fwindow_body {
			padding: 0;
		}
	}

	&_flistbox {
	}

	&_listitem {
		display: flex;
		align-items: center;
		color: var(--flistbox-item-color);
		font-size: 1em;
		gap: var(--f-spacer-4);
		color: var(--f-doc-color);
		padding: 0;
		.fsvgicon-icon {
			display: flex;
			align-items: center;
		}
		svg {
			max-width: var(--f-spacer-4);
			height: auto;
		}
	}
}
