.asharebutton {
    --asharebutton-border-color: #eaeaf1;

    button {
        border: 1px solid var(--asharebutton-border-color);
        border-radius: var(--f-border-radius-2);
        color: var(--f-doc-background-color);
        padding: var(--f-spacer-2);
    }

    &_window {
        &.fpopover .fwindow_body {
            padding: 0;
        }
    }

    &_flistbox {
        .flistbox_list_item {
            display: flex;
            gap: var(--f-spacer-3);
        }
    }
}
