.nftitemactivityfilter {

	.finput {
		width: 100%;
		.finput_inputcont.inp { width: 100%; }
	}

	&_window {
		box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
		border-radius: var(--f-border-radius-1);
		background: none;
		&.fpopover .fwindow_body {
			padding: 0;
		}
	}

	&_listitem {
		padding: 0;
	}
}
