.accountavatar {
    position: relative;

    img {
        position: absolute;
        left: -10000px;
        top: -10000px;
        //visibility: hidden;
    }

    &-imgloaded {
        img {
            position: static;
        }
    }
}
