.adetails {
    --fdetails-transitions-length: 150ms;

    &.fdetails {
        summary {
            padding: var(--f-spacer-4);
        }

        .fdetails {
            &_label {
                font-weight: 700;
            }

            &_content {
                padding: var(--f-spacer-4);
            }
        }
    }
}
