.density {
	display: flex;
	--density-border-color: #eaeaf1;
	--density-icon-color: rgb(112, 122, 131);
	& button {
		--f-btn-hover-background: rgb(243, 251, 254);
		--f-btn-main-color-hover: #eaeaf1;
		padding: 12px;
		border: 1px solid var(--density-border-color);
		font: inherit;
		color: inherit;
		background-color: transparent;
		cursor: pointer;
		&:first-child {
			border-top-left-radius: 5px;
    		border-bottom-left-radius: 5px;
			border-top-right-radius: 0;
    		border-bottom-right-radius: 0;
			margin-inline-start: 0;
		}

		&:last-child {
			border-top-left-radius: 0;
    		border-bottom-left-radius: 0;
			border-top-right-radius: 5px;
    		border-bottom-right-radius: 5px;
			margin-inline-start: 0;
		}

		.fsvgicon-icon {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		svg {
			width: 19px;
			height: auto;
			color: var(--density-icon-color);
			//color: rgb(53, 56, 64);
			//fill: rgb(4, 17, 29);
		}
	}
}