.aaddress {
    //display: inline-block;
    display: flex;
    gap: var(--f-spacer-1);

    .fimage {
        border-radius: 50%;
        overflow: hidden;

        img {
            object-fit: fill;
        }
    }

    .f-ellipsis {
        width: 100%;
    }
}
