.aaddress {
    //display: inline-block;
    display: flex;
    gap: var(--f-spacer-1);

    &_avatar {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-bottom: 0;
    }

    .f-ellipsis {
        width: 100%;
    }
}
