@use "fantom-vue-components/src/assets/scss/tools/media";
.appaboutcardlist {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: var(--f-spacer-4);
	margin-top: var(--f-spacer-9);
}

@include media.media-max(1120px) {
	.appaboutcardlist {
		grid-template-columns: 1fr 1fr;
	}
}

@include media.media-max(559px) {
	.appaboutcardlist {
		grid-template-columns: 1fr;
	}
}