@use "fantom-vue-components/src/assets/scss/tools/media";
@use "fantom-vue-components/src/assets/scss/settings/breakpoints";

.explore {
	 --explore-sidebar-background: #fff;
    --explore-border: 1px solid var(--f-color-grey-3, #dedede);
    .h3 {
       // padding-left: var(--f-spacer-4);
        max-height: 77px;
        margin: 0;
    }

    &_nftlist_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--f-spacer-2);
        min-height: 77px;
        padding: var(--f-spacer-2) var(--f-spacer-4);

        &_endcol {
            display: flex;
            align-items: center;
            gap: var(--f-spacer-2);
        }
    }

    .nftfilterchips {
        padding: 0 var(--f-spacer-4) var(--f-spacer-4) var(--f-spacer-4);
    }

    &_sidebar {
        border-right: var(--explore-border);
        button {
			padding: 0;
			border: none;
			font: inherit;
			color: inherit;
			background-color: transparent;
			cursor: pointer;
		}

		&_wrap {
			button {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: var(--f-spacer-5) var(--f-spacer-4);
				border: var(--account-border);
				width: 100%;
				&:hover {
					svg {
						color: inherit;
					}
				}
			}
		}

		&_label {
			display: flex;
			align-items: center;
			column-gap: var(--f-spacer-2);
			font-weight: 700;
		}
		&_icon {  svg { color: var(--f-color-grey-4);transform: rotate(180deg) } }

		&.close {
			.nftfilters, .explore_sidebar_label { display: none; }
			.explore_sidebar_icon { svg { transform: rotate(0) } }
		}

        .nftfilters .fdetails {
            border-right: 0;
        }
    }

	 &_filterButton {
		bottom: var(--f-spacer-4);
		display: none;
		-webkit-box-pack: center;
		justify-content: center;
		position: fixed;
		width: 100%;
		z-index: 4;
		&_counter {
			background-color: #fff;
			color: var(--f-color-primary-5);
			width: 30px;
			height: 30px;
			line-height: 30px;
			border-radius: var(--f-border-radius-4);
			text-align: center;
			align-items: center;
			margin-left: var(--f-spacer-2);
		}
		.fbutton {
			align-items: center;
			background-color: var(--f-color-primary-5);
			border-radius: var(--f-border-radius-7);
			box-shadow: rgb(0 0 0 / 25%) 0px 1px 20px;
			display: flex;
			font-weight: 600;
			height: 50px;
			justify-content: center;
			width: 292px;
		}
	}
}

@include media.media-min(breakpoints.$breakpoint-md) {
    .explore {
        display: grid;
        grid-template-columns: 280px 1fr;
        &.no_aside {
			grid-template-columns: auto 1fr;
		}
    }
}


@include media.media-max(600px) {
	.explore {

		&_filterButton {
			display: flex;
		}

		&_sidebar {
			position: fixed;
			left: 0px;
			bottom: 0px;
			width: 100%;
			z-index: 70;
			height: calc(100% - 78px);
			background: var(--explore-sidebar-background);
			overflow: auto;
			filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
			transition: left 0.3s ease 0s, opacity 0.3s ease 0s;
			opacity: 1;
			&.close { left: -100%; opacity: 0; }
		}
	}
}