.explore {
    display: grid;
    grid-template-columns: 280px 1fr;

    .h3 {
        padding-left: var(--f-spacer-4);
        max-height: 77px;
    }

    &_nftlist_header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-height: 77px;
        padding: 0 var(--f-spacer-4);
    }
}
