@use "fantom-vue-components/src/assets/scss/tools/media";
@use "fantom-vue-components/src/assets/scss/settings/breakpoints";

.explore {
    .h3 {
        padding-left: var(--f-spacer-4);
        max-height: 77px;
    }

    &_nftlist_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--f-spacer-2);
        min-height: 77px;
        padding: var(--f-spacer-2) var(--f-spacer-4);

        &_endcol {
            display: flex;
            align-items: center;
            gap: var(--f-spacer-2);
        }
    }

    .nftfilterchips {
        padding: 0 var(--f-spacer-4) var(--f-spacer-4) var(--f-spacer-4);
    }
}

@include media.media-min(breakpoints.$breakpoint-md) {
    .explore {
        display: grid;
        grid-template-columns: 280px 1fr;
    }
}
