.pg-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--f-spacer-7) 0 var(--f-spacer-6);
    margin-top: var(--f-spacer-9);
    background: #141926;

    &__link {
        font-weight: 600;
        font-size: var(--f-font-size-5);
        letter-spacing: -0.02em;

        &:not(:last-child) {
            margin-right: var(--f-spacer-8);
        }
    }
}
